.keywordDiv {
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 13px;
  font-weight: bold;
  color: white;
  float: left;
  margin: 0 10px 10px 0;
  cursor: pointer;
  transition: 0.4s;
}
.keywordDiv:hover {
  color: black;
  background-color: white;
}
